__pycache__/diploma.cpython-311.pyc
__pycache__/letter.cpython-311.pyc
__pycache__/main_window.cpython-311.pyc
__pycache__/main.cpython-311.pyc
__pycache__/main2py.cpython-311.pyc
__pycache__/Ui_Diploma.cpython-311.pyc
__pycache__/Ui_Letter.cpython-311.pyc
__pycache__/Ui_MainWindow.cpython-311.pyc
